<h2> I tried getting this to work on Heroku but couldn't. It seems that Heroku and
  SQLite3 just don't mix. Heroku wants me to make sure the SQLite3 gem is installed
  before I push to heroku, but I've done that. Some googling suggests I shouldn't even
  try SQLite3 on Heroku and use Postgres, but I've tried that too.
</h2> 
